<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal accent-4">
      <a class="brand-logo">
        <img
        src="/assets/resources/images/pngegg.jpg"
        id="logo-footer"
        class="img-responsive"
        height="50em"/>
      </a>
      <a data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="" class="flow-text">Home</a></li>
        <li><a routerLink="/cadastro" class="flow-text">Novo Contato</a></li>
        <li><a routerLink="/contatos" class="flow-text">Contatos</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav teal accent-4" id="mobile-demo" #mobile>
  <div class="row">
    <div class="col s4 offset-s2 center">
      <div class="center">
        <img
          src="/assets/resources/images/pngegg.jpg"
          class="responsive-img"
          height="10em"/>
      </div>
    </div>
  </div>
  <li><a routerLink="" class="flow-text">Home</a></li>
  <li><a routerLink="/cadastro" class="flow-text">Novo Contato</a></li>
  <li><a routerLink="/contatos" class="flow-text">Contatos</a></li>
</ul>
