<app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal>
<div class="container contact">
  <h5>Cadastro de Contato</h5>
  <hr />
  <div class="row card-panel white">
    <form
      class="col s12"
      style="margin-top: 1em"
      novalidate
      #form="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <label for="icon_prefix">Nome</label>
        <div class="input-field col s12">

          <i class="material-icons prefix">account_circle</i>
          <input
            id="name-input"
            name="name-input"
            type="text"
            [(ngModel)]="this.contact.name">

        </div>
      </div>
      <div class="row">
        <label for="icon_telephone">Telefone</label>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input
            id="phone-input"
            name="phone-input"
            type="text"
            [(ngModel)]="this.contact.phone"/>
        </div>
      </div>

      <!--
      <div class="row">
        <div class="input-field col s12">
        </div>
      </div>-->

      <div class="row">
        <div class="col s12">
          <button class="btn right" type="submit" [disabled]="!form.valid">
            Salvar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
